body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhe80yEwsBhlxm4IyqEwSHCeqeTVIMlDWRdg&s");
  font-family: "Comic Sans MS";
  src: url("./Comic Sans MS.ttf") format("truetype");
}

h1 {
  color: black;
}

button {
  border: solid blue;
}
